li[b-118edhw3zf] {
    display: block;
    background: #ddd;
    padding: 1em 2em;
    border-radius: 20px;
    margin-bottom: .5em;
    font-size: .75em;
    box-shadow: 1px 3px 5px -3px rgba(10, 10, 10, .5);
}

li .name[b-118edhw3zf] {
    color: #2354d4;
    font-weight: 700;
    font-size: 1rem;
}
